body {
  color: #e0c097; /* Color pergamino */
  background: url('../images/trono.webp') no-repeat center center;
  background-size: cover;
}
#s1 {
  background-color: #3e2723; /* Marrón oscuro */
  background-size: cover;
  color: #e0c097;
  padding: 40px;
  border: 2px solid #8b5a2b;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

#s2 {
  background-color: #1c1c1c; /* Negro cavernoso */
  color: gold;
  padding: 40px;
  border: 2px solid #b8860b;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

#r1 {
  background-color: #3e2723; /* Marrón oscuro */
  color: #e0c097;
  padding: 40px;
  border: 2px solid #c28343;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.carousel {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1fr;
  overflow: hidden;
  display: flex;
  > * {
    flex: 0 0 100%;
  }
  &:hover .group {
    animation-play-state: paused;
  }
}

.card {
  background: none;
  width: 400px;
  color: white;
  box-shadow: none;
  border: none;
  font-size: xx-large;
  justify-content: center;
  min-height: 200px;
}

.card img{
  border-radius: 24px;
}

.group {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  will-change: transform;
  animation: scrolling 30s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.btn-medieval {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #5a3e1e;
  border: 3px solid #d6a35d;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Garamond', serif;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn-medieval:hover {
  background-color: #8b5c2b;
  border-color: #d19c47;
  transform: scale(1.05);
}

.btn-medieval:active {
  background-color: #7a4f2b;
  border-color: #9a7737;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
}
